Repository vzhd1701/csv2notion: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
        exclude: ^tests/cassettes/
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov-fail-under=100 --cov=csv2notion tests/
        types: [python]
        pass_filenames: false

test: refactor
  csv2notion/notion/client.py
  tests/cassettes/test_bad_url.yaml
  tests/conftest.py
  tests/test_ops.py
  tests/test_ops_custom_types.py
  tests/test_ops_default_icon.py
  tests/test_ops_fail_on_conversion_error.py
  tests/test_ops_fail_on_duplicate_csv_columns.py
  tests/test_ops_fail_on_duplicates.py
  tests/test_ops_fail_on_inaccessible_relations.py
  tests/test_ops_fail_on_relation_duplicates.py
  tests/test_ops_icon_column.py
  tests/test_ops_image_column.py
  tests/test_ops_mandatory_column.py
  tests/test_ops_merge.py
  tests/test_ops_missing_columns_action.py
  tests/test_ops_missing_relations_action.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.1.1
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

fix: prevent adding icon and image columns to new db
  csv2notion/cli.py
  csv2notion/notion_convert_utils.py
  csv2notion/notion_db.py
  tests/cassettes/test_icon_column_keep_ok_for_new_db.uuid4.json
  tests/cassettes/test_icon_column_keep_ok_for_new_db.yaml
  tests/cassettes/test_icon_column_skip_for_new_db.uuid4.json
  tests/cassettes/test_icon_column_skip_for_new_db.yaml
  tests/cassettes/test_image_column_keep_ok_for_new_db.uuid4.json
  tests/cassettes/test_image_column_keep_ok_for_new_db.yaml
  tests/cassettes/test_image_column_skip_for_new_db.uuid4.json
  tests/cassettes/test_image_column_skip_for_new_db.yaml
  tests/test_ops_icon_column.py
  tests/test_ops_image_column.py
Due: isort, black, pytest, pytest-cov

test: refactor
  tests/conftest.py
Due: isort, black, pytest, pytest-cov

fix: handle file_ids properly on merge with images
  csv2notion/notion_db.py
  tests/cassettes/test_merge_image_column_with_image_content_file_ok.uuid4.json
  tests/cassettes/test_merge_image_column_with_image_content_file_ok.yaml
  tests/test_ops_merge.py
Due: isort, black, pytest, pytest-cov

feat: add --verbose option
  csv2notion/cli.py
Due: isort, black, pytest, pytest-cov

docs(readme): add info about --verbose option
  README.md
Due: mdformat

fix: make it easier to abort ongoing operation
  csv2notion/cli.py
Due: isort, black, pytest, pytest-cov

test: add test for --default-icon merge only mode
  tests/cassettes/test_default_icon_merge_only.uuid4.json
  tests/cassettes/test_default_icon_merge_only.yaml
  tests/test_ops_default_icon.py
Due: isort, black, pytest, pytest-cov

docs(readme): add example for --default-icon
  README.md
  examples/default_icon_only.png
Due: mdformat

fix: add support for csv with utf-8 BOM encoding
  csv2notion/csv_data.py
  tests/cassettes/test_merge_bom_csv_ok.uuid4.json
  tests/cassettes/test_merge_bom_csv_ok.yaml
  tests/test_ops_merge.py
Due: isort, black, pytest, pytest-cov

feat: add --image-caption-column option
  csv2notion/cli.py
  csv2notion/notion_convert.py
  csv2notion/notion_db.py
  tests/cassettes/test_image_caption_column_empty.uuid4.json
  tests/cassettes/test_image_caption_column_empty.yaml
  tests/cassettes/test_image_caption_column_keep.uuid4.json
  tests/cassettes/test_image_caption_column_keep.yaml
  tests/cassettes/test_image_caption_column_keep_for_new_db.uuid4.json
  tests/cassettes/test_image_caption_column_keep_for_new_db.yaml
  tests/cassettes/test_image_caption_column_missing.uuid4.json
  tests/cassettes/test_image_caption_column_missing.yaml
  tests/cassettes/test_image_caption_column_ok.uuid4.json
  tests/cassettes/test_image_caption_column_ok.yaml
  tests/cassettes/test_image_caption_column_overwrite.uuid4.json
  tests/cassettes/test_image_caption_column_overwrite.yaml
  tests/cassettes/test_image_caption_column_skip_for_new_db.uuid4.json
  tests/cassettes/test_image_caption_column_skip_for_new_db.yaml
  tests/cassettes/test_mandatory_column_image_caption_empty.uuid4.json
  tests/cassettes/test_mandatory_column_image_caption_empty.yaml
  tests/test_ops_default_icon.py
  tests/test_ops_image_caption_column.py
  tests/test_ops_image_column.py
  tests/test_ops_mandatory_column.py
Due: isort, black, pytest, pytest-cov

docs(readme): add info about --image-caption-colum option
  README.md
Due: mdformat

chore(release): 0.1.2
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

refactor(notion): remove unused filter option
  csv2notion/notion/collection.py
  csv2notion/notion/store.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.1.3
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

build(poetry): move fixed notion SDK to separate git
  csv2notion/notion/LICENSE
  csv2notion/notion/__init__.py
  csv2notion/notion/block.py
  csv2notion/notion/client.py
  csv2notion/notion/collection.py
  csv2notion/notion/logger.py
  csv2notion/notion/maps.py
  csv2notion/notion/markdown.py
  csv2notion/notion/monitor.py
  csv2notion/notion/operations.py
  csv2notion/notion/records.py
  csv2notion/notion/settings.py
  csv2notion/notion/smoke_test.py
  csv2notion/notion/space.py
  csv2notion/notion/store.py
  csv2notion/notion/user.py
  csv2notion/notion/utils.py
  csv2notion/notion_db.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_ops_fail_on_relation_duplicates.py
  tests/test_ops_merge.py
  tests/test_ops_missing_relations_action.py
Due: isort, black, pytest, pytest-cov

build(poetry): replace notion fork git with pypi package
  poetry.lock
  pyproject.toml
Due: none

fix: add support for created/updated time column types
  csv2notion/notion_convert.py
  csv2notion/notion_db.py
  csv2notion/utils.py
  tests/cassettes/test_custom_types_created_time.uuid4.json
  tests/cassettes/test_custom_types_created_time.yaml
  tests/cassettes/test_custom_types_last_edited_time.uuid4.json
  tests/cassettes/test_custom_types_last_edited_time.yaml
  tests/test_ops_custom_types.py
Due: isort, black, pytest, pytest-cov

fix: make only last timestamp column count
  csv2notion/notion_convert.py
  tests/cassettes/test_custom_types_created_time_multi.uuid4.json
  tests/cassettes/test_custom_types_created_time_multi.yaml
  tests/cassettes/test_custom_types_last_edited_time_multi.uuid4.json
  tests/cassettes/test_custom_types_last_edited_time_multi.yaml
  tests/test_ops_custom_types.py
Due: isort, black, pytest, pytest-cov

feat: add --fail-on-unsupported-columns flag
  csv2notion/cli.py
  csv2notion/notion_convert.py
  csv2notion/utils.py
  tests/cassettes/test_fail_on_unsupported_columns.uuid4.json
  tests/cassettes/test_fail_on_unsupported_columns.yaml
  tests/cassettes/test_fail_on_unsupported_columns_ok.uuid4.json
  tests/cassettes/test_fail_on_unsupported_columns_ok.yaml
  tests/test_ops_fail_on_unsupported_columns.py
Due: isort, black, pytest, pytest-cov

fix: add more warnings
  csv2notion/notion_convert.py
  tests/test_ops_fail_on_inaccessible_relations.py
  tests/test_ops_fail_on_unsupported_columns.py
  tests/test_ops_missing_columns_action.py
Due: isort, black, pytest, pytest-cov

refactor: split row conversion class
  csv2notion/cli.py
  csv2notion/notion_convert.py
  csv2notion/notion_preparator.py
Due: isort, black, pytest, pytest-cov

refactor: lint
  csv2notion/cli.py
  csv2notion/cli_args.py
  csv2notion/cli_steps.py
  csv2notion/csv_data.py
  csv2notion/notion_convert.py
  csv2notion/notion_convert_map.py
  csv2notion/notion_convert_utils.py
  csv2notion/notion_db.py
  csv2notion/notion_preparator.py
  csv2notion/notion_type_guess.py
  csv2notion/notion_uploader.py
  csv2notion/notion_uploader_file.py
  csv2notion/notion_uploader_image_block.py
  csv2notion/utils.py
  csv2notion/utils_exceptions.py
  csv2notion/utils_rand_id.py
  csv2notion/utils_static.py
  csv2notion/utils_str.py
  csv2notion/utils_threading.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_ops.py
  tests/test_ops_custom_types.py
  tests/test_ops_default_icon.py
  tests/test_ops_fail_on_conversion_error.py
  tests/test_ops_fail_on_duplicate_csv_columns.py
  tests/test_ops_fail_on_duplicates.py
  tests/test_ops_fail_on_inaccessible_relations.py
  tests/test_ops_fail_on_relation_duplicates.py
  tests/test_ops_fail_on_unsupported_columns.py
  tests/test_ops_icon_column.py
  tests/test_ops_image_caption_column.py
  tests/test_ops_image_column.py
  tests/test_ops_mandatory_column.py
  tests/test_ops_merge.py
  tests/test_ops_missing_columns_action.py
  tests/test_ops_missing_relations_action.py
Due: isort, black, pytest, pytest-cov

ci(github): update workflows
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

refactor: fix regression
  csv2notion/notion_db.py
Due: isort, black, pytest, pytest-cov

fix: add support for file column type
  csv2notion/notion_convert.py
  csv2notion/notion_convert_map.py
  csv2notion/notion_uploader.py
  csv2notion/utils_static.py
  tests/cassettes/test_custom_types_file_banned.uuid4.json
  tests/cassettes/test_custom_types_file_banned.yaml
  tests/cassettes/test_custom_types_file_duplicate.uuid4.json
  tests/cassettes/test_custom_types_file_duplicate.yaml
  tests/cassettes/test_custom_types_file_embed.uuid4.json
  tests/cassettes/test_custom_types_file_embed.yaml
  tests/cassettes/test_custom_types_file_empty.uuid4.json
  tests/cassettes/test_custom_types_file_empty.yaml
  tests/cassettes/test_custom_types_file_multi_column.uuid4.json
  tests/cassettes/test_custom_types_file_multi_column.yaml
  tests/cassettes/test_custom_types_file_upload.uuid4.json
  tests/cassettes/test_custom_types_file_upload.yaml
  tests/cassettes/test_merge_custom_types_file_with_content_no_reupload.uuid4.json
  tests/cassettes/test_merge_custom_types_file_with_content_no_reupload.yaml
  tests/cassettes/test_merge_custom_types_file_with_content_number_change.uuid4.json
  tests/cassettes/test_merge_custom_types_file_with_content_number_change.yaml
  tests/cassettes/test_merge_custom_types_file_with_content_order_change.uuid4.json
  tests/cassettes/test_merge_custom_types_file_with_content_order_change.yaml
  tests/cassettes/test_merge_custom_types_file_with_content_reupload.uuid4.json
  tests/cassettes/test_merge_custom_types_file_with_content_reupload.yaml
  tests/cassettes/test_merge_custom_types_file_with_content_upload_on_empty.uuid4.json
  tests/cassettes/test_merge_custom_types_file_with_content_upload_on_empty.yaml
  tests/test_ops_custom_types.py
  tests/test_ops_merge.py
Due: isort, black, pytest, pytest-cov

refactor: lint
  csv2notion/notion_uploader.py
Due: isort, black, pytest, pytest-cov

build(poetry): update notion-vzhd1701-fork
  poetry.lock
  pyproject.toml
Due: none

test: add test for empty rows
  tests/cassettes/test_new_page_empty_rows.uuid4.json
  tests/cassettes/test_new_page_empty_rows.yaml
  tests/test_ops.py
Due: isort, black, pytest, pytest-cov

refactor: mute down notion logger
  csv2notion/cli.py
Due: isort, black, pytest, pytest-cov

fix: add support for notion URLs in relations
  csv2notion/notion_convert.py
  tests/cassettes/test_missing_relations_action_add_url_404.uuid4.json
  tests/cassettes/test_missing_relations_action_add_url_404.yaml
  tests/cassettes/test_missing_relations_action_add_url_bad.uuid4.json
  tests/cassettes/test_missing_relations_action_add_url_bad.yaml
  tests/cassettes/test_missing_relations_action_fail_url_404.uuid4.json
  tests/cassettes/test_missing_relations_action_fail_url_404.yaml
  tests/cassettes/test_missing_relations_action_fail_url_bad.uuid4.json
  tests/cassettes/test_missing_relations_action_fail_url_bad.yaml
  tests/cassettes/test_missing_relations_action_ignore_url_404.uuid4.json
  tests/cassettes/test_missing_relations_action_ignore_url_404.yaml
  tests/cassettes/test_missing_relations_action_ignore_url_bad.uuid4.json
  tests/cassettes/test_missing_relations_action_ignore_url_bad.yaml
  tests/cassettes/test_missing_relations_action_ignore_url_ok.uuid4.json
  tests/cassettes/test_missing_relations_action_ignore_url_ok.yaml
  tests/test_ops_missing_relations_action.py
Due: isort, black, pytest, pytest-cov

feat: add --merge-skip-new flag
  csv2notion/cli_args.py
  csv2notion/cli_steps.py
  csv2notion/csv_data.py
  csv2notion/notion_db.py
  csv2notion/notion_preparator.py
  tests/cassettes/test_merge_skip_new.uuid4.json
  tests/cassettes/test_merge_skip_new.yaml
  tests/test_ops_merge.py
Due: isort, black, pytest, pytest-cov

refactor: lint
  csv2notion/notion_convert.py
  csv2notion/notion_preparator.py
Due: isort, black, pytest, pytest-cov

test: refactor
  tests/cassettes/test_icon_column_keep_same_property_name.uuid4.json
  tests/cassettes/test_icon_column_keep_same_property_name.yaml
  tests/conftest.py
  tests/test_ops.py
  tests/test_ops_custom_types.py
  tests/test_ops_custom_types_file.py
  tests/test_ops_custom_types_time.py
  tests/test_ops_fail_on_conversion_error.py
  tests/test_ops_fail_on_unsupported_columns.py
  tests/test_ops_icon_column.py
  tests/test_ops_image_caption_column.py
  tests/test_ops_image_column.py
  tests/test_ops_merge.py
  tests/test_ops_merge_custom_types_file.py
  tests/test_ops_merge_icon_column.py
  tests/test_ops_merge_image_column.py
Due: isort, black, pytest, pytest-cov
