Repository vzhd1701/csv2notion: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, pytest-cov

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run pytest --cov-fail-under=100 --cov=csv2notion tests/
  pass_filenames: false

chore(release): 0.3.3
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

fix: update notion SDK to avoid rate limit errors
  poetry.lock
  pyproject.toml
Due: none

chore(release): 0.3.4
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

docs(readme): update install help
  README.md
Due: mdformat

feat: add support for status columns
  csv2notion/cli_args.py
  csv2notion/csv_data.py
  csv2notion/notion_db.py
  csv2notion/notion_db_collection.py
  csv2notion/notion_preparator.py
  csv2notion/notion_row.py
  csv2notion/utils_db.py
  csv2notion/utils_static.py
  tests/cassettes/test_column_types_status.uuid4.json
  tests/cassettes/test_column_types_status.yaml
  tests/cassettes/test_column_types_status_add_column.uuid4.json
  tests/cassettes/test_column_types_status_add_column.yaml
  tests/cassettes/test_column_types_status_bad_value_type.uuid4.json
  tests/cassettes/test_column_types_status_bad_value_type.yaml
  tests/cassettes/test_column_types_status_bad_value_unacceptable.uuid4.json
  tests/cassettes/test_column_types_status_bad_value_unacceptable.yaml
  tests/cassettes/test_column_types_status_wrong_fail.uuid4.json
  tests/cassettes/test_column_types_status_wrong_fail.yaml
  tests/cassettes/test_column_types_status_wrong_skip.uuid4.json
  tests/cassettes/test_column_types_status_wrong_skip.yaml
  tests/test_ops_column_types_status.py
Due: isort, black, pytest, pytest-cov

docs(readme): add info about status type
  README.md
Due: mdformat

chore(release): 0.3.5
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

docs(readme): add credits
  README.md
Due: mdformat

fix: support for inline dbs #12
  csv2notion/notion_db.py
Due: isort, black, pytest, pytest-cov

ci(github): skip poetry cache for windows tests
  .github/workflows/test.yml
Due: none

ci(github): bump poetry version for test workflow
  .github/workflows/test.yml
Due: none

fix: add support for inline databases
  csv2notion/notion_db.py
Due: isort, black, pytest, pytest-cov

fix: show error if no edit permissions
  csv2notion/notion_db.py
  tests/cassettes/test_read_only_url.yaml
  tests/test_ops.py
Due: isort, black, pytest, pytest-cov

fix: add support for date ranges
  csv2notion/notion_convert.py
  csv2notion/notion_convert_map.py
  tests/cassettes/test_column_types_date.uuid4.json
  tests/cassettes/test_column_types_date.yaml
  tests/cassettes/test_column_types_date_split.uuid4.json
  tests/cassettes/test_column_types_date_split.yaml
  tests/test_ops_column_types.py
Due: isort, black, pytest, pytest-cov

docs(readme): change date field multi value flag
  README.md
Due: mdformat

build: drop safety
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

refactor: lint
  csv2notion/notion_convert_map.py
  poetry.lock
  pyproject.toml
Due: isort, black, pytest, pytest-cov

chore(release): 0.3.6
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

ci(github): bump poetry version for release workflows
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
Due: none

fix: improve URL permission check
  csv2notion/notion_db.py
  tests/cassettes/test_inaccessible_url.yaml
  tests/test_ops.py
Due: isort, black, pytest, pytest-cov

fix: update notion SDK
  poetry.lock
  pyproject.toml
Due: none

chore(release): 0.3.7
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

fix: update Notion SDK to avoid 403 error
  poetry.lock
  pyproject.toml
Due: none

ci(github): update workflows
  .github/workflows/release_brew.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

chore(release): 0.3.8
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

docs: update funding links
  .github/FUNDING.yml
Due: none

fix: fix upload result URL parser
  csv2notion/notion_row_upload_file.py
  tests/cassettes/test_column_types_file_upload.uuid4.json
  tests/cassettes/test_column_types_file_upload.yaml
  tests/cassettes/test_default_icon_file.uuid4.json
  tests/cassettes/test_default_icon_file.yaml
  tests/cassettes/test_icon_column_ok.uuid4.json
  tests/cassettes/test_icon_column_ok.yaml
  tests/cassettes/test_image_caption_column_ok.uuid4.json
  tests/cassettes/test_image_caption_column_ok.yaml
  tests/cassettes/test_image_column_cover_mode_ok.uuid4.json
  tests/cassettes/test_image_column_cover_mode_ok.yaml
  tests/cassettes/test_image_column_ok.uuid4.json
  tests/cassettes/test_image_column_ok.yaml
  tests/cassettes/test_merge_column_types_file_with_content_no_reupload.uuid4.json
  tests/cassettes/test_merge_column_types_file_with_content_no_reupload.yaml
  tests/cassettes/test_merge_column_types_file_with_content_number_change.uuid4.json
  tests/cassettes/test_merge_column_types_file_with_content_number_change.yaml
  tests/cassettes/test_merge_column_types_file_with_content_order_change.uuid4.json
  tests/cassettes/test_merge_column_types_file_with_content_order_change.yaml
  tests/cassettes/test_merge_column_types_file_with_content_reupload.uuid4.json
  tests/cassettes/test_merge_column_types_file_with_content_reupload.yaml
  tests/cassettes/test_merge_column_types_file_with_content_upload_on_empty.uuid4.json
  tests/cassettes/test_merge_column_types_file_with_content_upload_on_empty.yaml
  tests/cassettes/test_merge_icon_column_url_to_file.uuid4.json
  tests/cassettes/test_merge_icon_column_url_to_file.yaml
  tests/cassettes/test_merge_icon_column_with_content.uuid4.json
  tests/cassettes/test_merge_icon_column_with_content.yaml
  tests/cassettes/test_merge_icon_column_with_content_no_reupload.uuid4.json
  tests/cassettes/test_merge_icon_column_with_content_no_reupload.yaml
  tests/cassettes/test_merge_icon_column_with_content_reupload_manually_replaced.uuid4.json
  tests/cassettes/test_merge_icon_column_with_content_reupload_manually_replaced.yaml
  tests/cassettes/test_merge_image_column_cover_changed_content_file_reupload.uuid4.json
  tests/cassettes/test_merge_image_column_cover_changed_content_file_reupload.yaml
  tests/cassettes/test_merge_image_column_with_image_content_file_no_reupload.uuid4.json
  tests/cassettes/test_merge_image_column_with_image_content_file_no_reupload.yaml
  tests/cassettes/test_merge_image_column_with_image_content_file_reupload.uuid4.json
  tests/cassettes/test_merge_image_column_with_image_content_file_reupload.yaml
  tests/test_ops_merge_column_types_file.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.3.9
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
