Repository vzhd1701/csv2notion: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
        exclude: ^tests/cassettes/
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov-fail-under=100 --cov=csv2notion tests/
        types: [python]
        pass_filenames: false

build(poetry): add safety check
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

build(poetry): add mypy + types for modules
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: add support for person column type
  csv2notion/notion_convert.py
  csv2notion/notion_db.py
  csv2notion/utils_static.py
  tests/cassettes/test_custom_types_person.uuid4.json
  tests/cassettes/test_custom_types_person.yaml
  tests/cassettes/test_custom_types_person_email.uuid4.json
  tests/cassettes/test_custom_types_person_email.yaml
  tests/cassettes/test_custom_types_person_email_external.uuid4.json
  tests/cassettes/test_custom_types_person_email_external.yaml
  tests/cassettes/test_custom_types_person_email_missing.uuid4.json
  tests/cassettes/test_custom_types_person_email_missing.yaml
  tests/cassettes/test_custom_types_person_email_missing_fail.uuid4.json
  tests/cassettes/test_custom_types_person_email_missing_fail.yaml
  tests/cassettes/test_custom_types_person_missing.uuid4.json
  tests/cassettes/test_custom_types_person_missing.yaml
  tests/cassettes/test_custom_types_person_missing_fail.uuid4.json
  tests/cassettes/test_custom_types_person_missing_fail.yaml
  tests/conftest.py
  tests/test_ops_custom_types.py
  tests/test_ops_custom_types_person.py
Due: isort, black, pytest, pytest-cov

fix: split --missing-columns-action into --add-missing-columns and --fail-on-missing-columns
  csv2notion/cli_args.py
  csv2notion/cli_steps.py
  csv2notion/notion_preparator.py
  tests/test_ops_missing_columns_action.py
Due: isort, black, pytest, pytest-cov

fix: split --help options into groups
  csv2notion/cli_args.py
Due: isort, black, pytest, pytest-cov

refactor: lint
  csv2notion/cli_args.py
  csv2notion/notion_convert.py
  csv2notion/notion_db.py
Due: isort, black, pytest, pytest-cov

refactor: move conversion rules into dataclass
  csv2notion/cli_args.py
  csv2notion/cli_steps.py
  csv2notion/notion_convert.py
  csv2notion/notion_preparator.py
  csv2notion/utils_static.py
  pyproject.toml
Due: isort, black, pytest, pytest-cov

test: lint refactor
  pyproject.toml
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/db_maker.py
  tests/fixtures/db_maker_class.py
  tests/fixtures/db_maker_notion_db.py
  tests/fixtures/vcr_uuid4.py
  tests/test_ops.py
  tests/test_ops_column_types.py
  tests/test_ops_column_types_person.py
  tests/test_ops_default_icon.py
  tests/test_ops_fail_on_duplicate_csv_columns.py
  tests/test_ops_fail_on_duplicates.py
  tests/test_ops_fail_on_inaccessible_relations.py
  tests/test_ops_fail_on_relation_duplicates.py
  tests/test_ops_fail_on_unsupported_columns.py
  tests/test_ops_icon_column.py
  tests/test_ops_image_caption_column.py
  tests/test_ops_image_column.py
  tests/test_ops_mandatory_column.py
  tests/test_ops_merge.py
  tests/test_ops_merge_column_types_file.py
  tests/test_ops_merge_icon_column.py
  tests/test_ops_merge_image_column.py
  tests/test_ops_relations.py
Due: isort, black, pytest, pytest-cov

build(poetry): update notion-vzhd1701-fork
  poetry.lock
  pyproject.toml
Due: none

fix: fail if no columns left after validation
  csv2notion/notion_preparator.py
  tests/cassettes/test_existing_page_column_mismatch.uuid4.json
  tests/cassettes/test_existing_page_column_mismatch.yaml
  tests/test_ops.py
Due: isort, black, pytest, pytest-cov

fix: rename --fail-on-unsupported-columns into --fail-on-unsettable-columns
  csv2notion/cli_args.py
  csv2notion/notion_preparator.py
  csv2notion/utils_static.py
  tests/cassettes/test_fail_on_unsettable_columns.uuid4.json
  tests/cassettes/test_fail_on_unsettable_columns.yaml
  tests/cassettes/test_fail_on_unsettable_columns_ok.uuid4.json
  tests/cassettes/test_fail_on_unsettable_columns_ok.yaml
  tests/test_ops_fail_on_unsettable_columns.py
Due: isort, black, pytest, pytest-cov

docs(readme): add new info
  README.md
  examples/new_db_types.png
Due: mdformat

chore(release): 0.2.0
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

ci(github): add release_brew wrokflow
  .github/workflows/release_brew.yml
Due: none

ci(github): update release_brew workflow
  .github/workflows/release_brew.yml
Due: none

fix: update notion-vzhd1701-fork to avoid network error on file upload
  poetry.lock
  pyproject.toml
Due: none

chore(release): 0.2.1
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

feat: add --randomize-select-colors flag
  csv2notion/cli.py
  csv2notion/cli_args.py
  csv2notion/cli_steps.py
  csv2notion/notion_db.py
  csv2notion/notion_db_client.py
  csv2notion/notion_db_collection.py
  csv2notion/utils_threading.py
  tests/cassettes/test_column_types_multi_select_colored.uuid4.json
  tests/cassettes/test_column_types_multi_select_colored.yaml
  tests/fixtures/db_maker.py
  tests/test_ops_column_types.py
Due: isort, black, pytest, pytest-cov

build(poetry): update linter settings
  pyproject.toml
Due: none

docs(readme): add info about --randomize-select-colors flag
  README.md
Due: mdformat

refactor: improve coverage
  csv2notion/notion_db.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.3.0
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

fix: show which columns are duplicate in warning
  csv2notion/csv_data.py
  tests/test_ops_fail_on_duplicate_csv_columns.py
Due: isort, black, pytest, pytest-cov

fix: truncate excess columns if column number is inconsistent
  csv2notion/csv_data.py
  tests/cassettes/test_inconsistent_columns_csv.uuid4.json
  tests/cassettes/test_inconsistent_columns_csv.yaml
  tests/test_ops.py
Due: isort, black, pytest, pytest-cov

refactor: lint
  csv2notion/notion_db_collection.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.3.1
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

docs(changelog): fix issue number
  CHANGELOG.md
Due: mdformat

fix: clarify warning message for unsettable column types
  csv2notion/notion_preparator.py
  pyproject.toml
  tests/test_ops_fail_on_unsettable_columns.py
Due: isort, black, pytest, pytest-cov

chore(release): 0.3.2
  CHANGELOG.md
  csv2notion/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, pytest-cov

build(poetry): update emoji
  poetry.lock
  pyproject.toml
Due: none

fix: fix emoji icon parsing
  csv2notion/notion_convert_map.py
  tests/cassettes/test_default_icon_emoji_variation.uuid4.json
  tests/cassettes/test_default_icon_emoji_variation.yaml
  tests/test_ops_default_icon.py
Due: isort, black, pytest, pytest-cov

test: add tests for bad icons
  tests/test_ops_default_icon.py
Due: isort, black, pytest, pytest-cov
